@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, yellow, orange);
    font-family: 'Roboto', sans-serif;
}

#wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

#logo {
    width: 200px; /* Adjust size as needed */
}

#header-buttons {
    display: flex;
}

#fruit-image {
  width: 300px;
  height: auto;
  margin-top: 20px;
}

button {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(240, 156, 47);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #bd2c2c;
}

main {
    margin-top: 50px;
}

#dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 50px;
    color: rgb(241, 133, 10);
}

footer {
    margin-top: 50px;
    text-align: center;
}
